form{
    input {
        display: block;
        margin-block: 1rem;
    }

    button{
        background-color: lightgreen;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: 1px solid black;
    }
}

span{
    display: block;
    margin-top: 3rem;
    margin-bottom: 1rem;
}